<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto Final Interconectividad de Redes - Reportes</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="header fadeInDown">
        <div class="header__top">
            <div class="header__logo">
                <img src="../assets/images/usc-logo.png" alt="usc logo">
            </div>
        </div>
        <div class="header__center">
            <div class="header__options">
                <ul class="header__options-list">
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="../templates/group.html">INTEGRANTES</a></li>
                </ul>
            </div>
        </div>
    </header>
    <section class="main__reports">
        <div class="main__title fadeIn">
            <h1>MEDICIÓN DEL TRÁFICO DE RED POR CADA MAQUINA</h1>
        </div>
        <section class="main__list-machine">
            <article class="list-machine-article fadeIn">
                <div class="article__img"><img src="../assets/images/machine.jpg" alt="principal machine"></div>
                <div class="article__info">
                    <h1>Maquina Principal</h1>
                    <a href="../assets/report/principal_machine/">Ver Análisis</a>
                </div>
            </article>
            <article class="list-machine-article fadeIn">
                <div class="article__img"><img src="../assets/images/machine.jpg" alt="first machine"></div>
                <div class="article__info">
                    <h1>Primera Maquina Virtual</h1>
                    <a href="../assets/report/principal_machine/">Ver Análisis</a>
                </div>
            </article>
            <article class="list-machine-article fadeIn">
                <div class="article__img"><img src="../assets/images/machine.jpg" alt="second machine"></div>
                <div class="article__info">
                    <h1>Segunda Maquina Virtual</h1>
                    <a href="../assets/report/principal_machine/">Ver Análisis</a>
                </div>
            </article>
        </section>
        <section class="main__list-banner">
            <article class="list-banner-article">
                <div class="article__img"><img src="../assets/images/banner1.jpg" alt="Banner 1"></div>
                <div class="article__info">
                    <h1>Mide el desempeño</h1>
                </div>
            </article>
            <article class="list-banner-article">
                <div class="article__img"><img src="../assets/images/banner2.jpg" alt="Banner 2"></div>
                <div class="article__info">
                    <h1>Revisa la conectividad</h1>
                </div>
            </article>
            <article class="list-banner-article">
                <div class="article__img"><img src="../assets/images/banner3.jpg" alt="Banner 3"></div>
                <div class="article__info">
                    <h1>Análiza la red</h1>
                </div>
            </article>
        </section>
    </section>
    <footer class="footer">
        <h1>José Alejandro Ardila & Bryan Martínez Díaz & Juan José Yepes Arias. Universidad Santiago de Cali 2020. Todos los derechos reservados ©</h1>
    </footer>
</body>
</html>
